@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    display: grid;
    height: 100%;
    background: #6665ee;
    place-items: center;
}

.container{
    width: 600px;
    background: #fff;
    border-radius: 10px;
    padding: 25px 30px;
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.2);
}

.container .bar{
    margin: 20px 0;
}

.container .bar:first-child{
    margin-top: 0px;

}

.container .bar .info{
    margin-bottom: 5px;
}

.container .bar .info span{
    font-size: 17px;
    font-weight: 500;
    opacity: 0;
    animation: showtext 0.5s 1s linear forwards;

}

@keyframes showtext {
    100%{
        opacity: 1;
    }
}


.container .bar .progress {
    position: relative;
    height: 10px;
    width: 100%;
    border-radius: 10px;
    background: #f0f0f0;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05),
                      0px 1px rgba(255,255,255,0.8);
    
    animation: animate 1s cubic-bezier(1, 0, 0.5,1) forwards;
}

.bar .progress span{
    height: 100%;
    width: 80%;
    background: #6665ee;
    border-radius: 10px;
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5,1) forwards;

}

@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}

.progress.html span{
    width: 86%;

}

.progress.css span{
    width: 80%;

}

.progress.javascript span{
    width: 76%;

}

.progress.native span{
    width: 60%;

}

.progress.js span{
    width: 83%;

}

.bar .progress span::before{
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showtext2 0.5s 1.5s linear forwards;

}

.bar .progress span::after{
    position: absolute;
    right: 0;
    top: -28px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background: #000;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showtext2 0.5s 1.5s linear forwards;

}

@keyframes showtext2 {
    100%{
        opacity: 1;
    }
}

.progress.html span::after{
    content: "86%";

}

.progress.css span::after{
    content: "80%";

}

.progress.javascript span::after{
    content: "76%";

}

.progress.native span::after{
    content: "60%";

}

.progress.js span::after{
    content: "83%";

}